<div class="duration-selector" [style.--anchor]="'--anchor-' + uid">
  <sl-tooltip
    [content]="('components.durationSelector.duration' | translate)()"
  >
    <sl-button
      class="duration-selector__button duration-selector__button--dialog"
      size="small"
      (click)="dialogRef.togglePopover()"
    >
      {{ durationPreview() }}
    </sl-button>
  </sl-tooltip>
  <dialog #dialogRef class="duration-selector__dialog" popover>
    <div class="duration-selector__form">
      <sl-tooltip
        [content]="
          (
            'components.durationSelector.step'
            | translate
              : {
                  min: '' + minStep,
                }
          )()
        "
      >
        <sl-input
          #stepRef
          class="duration-selector__step"
          type="number"
          [min]="minStep"
          [value]="step()"
          size="small"
          (sl-change)="setStepDurationStep($any(stepRef.value))"
        ></sl-input>
      </sl-tooltip>
      <sl-tooltip
        [content]="
          (
            (denominator() <= minDenominator
              ? 'components.durationSelector.numerator'
              : 'components.durationSelector.numeratorMinMax'
            )
            | translate
              : { min: '' + minNumerator, max: '' + (denominator() - 1) }
          )()
        "
      >
        <sl-input
          #numeratorRef
          class="duration-selector__numerator"
          type="number"
          [min]="minNumerator"
          [max]="denominator() - 1"
          [value]="numerator()"
          size="small"
          [disabled]="denominator() <= minDenominator"
          (sl-change)="setStepDurationNumerator($any(numeratorRef.value))"
        ></sl-input>
      </sl-tooltip>
      <sl-tooltip
        [content]="
          (
            'components.durationSelector.denominator'
            | translate
              : {
                  first: '' + denominators[0],
                  last: '' + denominators[denominators.length - 1],
                }
          )()
        "
      >
        <sl-select
          #denominatorRef
          class="duration-selector__denominator"
          size="small"
          [value]="'' + denominator()"
          (sl-change)="setStepDurationDenominator($any(denominatorRef.value))"
        >
          <sl-option [value]="minDenominator"></sl-option>
          @for (denominator of denominators; track denominator) {
            <sl-option [value]="denominator">{{ denominator }}</sl-option>
          }
        </sl-select>
      </sl-tooltip>
    </div>
  </dialog>
</div>
