<div class="note-selector">
  <sl-select
    #octaveRef
    class="note-selector__octave"
    [value]="octave() ?? ''"
    size="small"
    (sl-change)="setOctave($any(octaveRef.value))"
  >
    <sl-option value=""></sl-option>
    @for (o of octaves; track o) {
      <sl-option [value]="o">{{ o }}</sl-option>
    }
  </sl-select>
  <sl-select
    #semitoneRef
    class="note-selector__semitone"
    [value]="semitone() ?? ''"
    size="small"
    (sl-change)="setSemitone($any(semitoneRef.value))"
  >
    <sl-option value=""></sl-option>
    @for (s of semitones; let i = $index; track i) {
      <sl-option [value]="i" [disabled]="octave() | maxSemitone: i">{{
        s
      }}</sl-option>
    }
  </sl-select>
  <sl-input
    #velocityRef
    class="note-selector__velocity"
    type="number"
    size="small"
    [value]="velocity()"
    [min]="minVelocity"
    [max]="maxVelocity"
    (sl-change)="setVelocity($any(velocityRef.value))"
  ></sl-input>
  <app-duration-selector
    class="note-selector__duration"
    [trackNumber]="trackNumber()"
    [stepNumber]="stepNumber()"
    [step]="step()"
    [numerator]="numerator()"
    [denominator]="denominator()"
  ></app-duration-selector>
</div>
