<main class="sequencer">
  <header class="sequencer__header">
    <sl-input
      #bpmRef
      class="sequencer__bpm"
      type="number"
      label="BPM"
      [min]="minBpm"
      [max]="maxBpm"
      [value]="(bpm$ | async) ?? defaultBpm"
      size="small"
      (sl-change)="updateBpm($any(bpmRef.value))"
    ></sl-input>
    <app-bars-selector
      class="sequencer__bars"
      [base]="(bars$ | async)?.base ?? defaultBase"
      [value]="(bars$ | async)?.value ?? defaultValue"
    ></app-bars-selector>
  </header>
  <section class="sequencer__tracks">
    @for (track of tracks$ | async; let i = $index; track i) {
      <app-track
        class="sequencer__track"
        [number]="i"
        [track]="track"
      ></app-track>
    }
  </section>
  <footer class="sequencer__footer">
    <app-transport-toolbar
      class="sequencer__transport-toolbar"
    ></app-transport-toolbar>
  </footer>
</main>
