<div class="app">
  <h1 class="app__title">{{ ('title' | translate)() }}</h1>
  <header class="app__header">
    <sl-select
      #themeRef
      i18nRefresh
      class="app__theme"
      [label]="('theme.label' | translate)()"
      [value]="theme()"
      size="small"
      (sl-change)="onThemeChange($any(themeRef.value))"
    >
      <sl-option [value]="Theme.LIGHT">{{
        ('theme.light' | translate)()
      }}</sl-option>
      <sl-option [value]="Theme.DARK">{{
        ('theme.dark' | translate)()
      }}</sl-option>
    </sl-select>
    <sl-select
      #localeRef
      class="app__locale"
      [label]="('locale.label' | translate)()"
      [value]="locale()"
      size="small"
      (sl-change)="onLocaleChange($any(localeRef.value))"
    >
      <sl-option value="en">English</sl-option>
      <sl-option value="de">Deutsch</sl-option>
    </sl-select>
  </header>
  <router-outlet />
</div>
