<div class="bars-selector">
  <sl-input
    #valueRef
    class="bars-selector__value"
    [label]="('components.barsSelector.label' | translate)()"
    type="number"
    min="{{ TimingService.MIN_BARS }}"
    max="{{ TimingService.MAX_BARS }}"
    value="{{ value() }}"
    size="small"
    (sl-change)="setValue($any(valueRef.value))"
  ></sl-input>
  /
  <sl-input
    #baseRef
    class="bars-selector__base"
    type="number"
    min="{{ TimingService.MIN_BARS }}"
    max="{{ TimingService.MAX_BARS }}"
    value="{{ base() }}"
    size="small"
    (sl-change)="setBase($any(baseRef.value))"
  ></sl-input>
</div>
