.track {
  align-items: center;
  display: flex;
  gap: 1rem;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    font: {
      size: 0.875rem;
      weight: normal;
    }
  }

  &__steps {
    align-items: center;
    display: flex;
    gap: 0.2rem;
    list-style-type: none;
    width: 100%;
  }
}
